*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url("../images/camaro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    background-color: black;
}
.navbar .navbar_item{
    display: inline-block;

}
.navbar .navbar_item .navbar_item_link{
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    color: yellow;
}
.navbar .navbar_item .navbar_item_link:hover{
    background-color: yellow;
    color: white;
}





